<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Piedra, Papel o Tijeras</title>
    <style>
        button { padding: 10px; margin: 5px; }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h1>PIEDRA, PAPEL O TIJERAS</h1>
    <h3>Turno del Jugador <span th:text="${jugador_actual}"></span></h3>
    <div>
        <form method="post" action="/game">
            <button type="submit" name="opcion" value="piedra">🗿 Piedra</button>
            <button type="submit" name="opcion" value="papel">📄 Papel</button>
            <button type="submit" name="opcion" value="tijeras">✂️ Tijeras</button>
        </form>
    </div>
    <div>
        <h1>Ronda: <span th:text="${ronda_actual}"></span> de <span th:text="${rondas}"></span> </h1>
    </div>

    <div>
        <form method="get" action="/cambiar">
            <button type="submit">Cambiar Jugador</button>
        </form>
    </div>

    <div th:if="${comprobar == true}">
        <form method="get" action="/apuesta">
            <button type="submit">Hacer apuestas</button>
        </form>
    </div>
</div>
</body>
</html>