<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <style>
        button {
            padding: 10px;
            margin: 5px;
        }
    </style>
</head>
<body>
<form method="post" action="/check">
<div>
    <h1>PIEDRA, PAPEL O TIJERAS</h1>
        <h1>Nombre jugador 1:</h1>
        <input type="text" name="jugador1" required>
</div>

<div>
        <h1>Nombre jugador 2:</h1>
        <input type="text" name="jugador2" required>
</div>
<div>
        <h1>Introduzca el numero de rondas</h1>
        <input type="text" name="rondas" required>
</div>

    <button type="submit">Comenzar</button>
</form>
</body>
</html>